img {
  width: 30px;
  height: 30px;
}

a.p-nav__title {
  padding-left: 10px !important;
}

h3.p-title {
  font-family: sans-serif;
  font-weight: 700;
  margin: 1rem 0;
}

.p-consulta__mg-top {
  margin: 1rem 0;
}
